<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Vue js</title>

</head>

<body class="container">
    <div id="app" class="container mt-5">
        <h3>{{titulo}}</h3>
        <span>{{totalLista}}</span>
        <br>
        <span>{{totalRegistroEstado(true)}}</span>
        <br>
        <span>{{totalRegistroEstado(false)}}</span>

        <input type="text" class="form-control my-3" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
        <button class="btn btn-primary" v-on:click="agregarTarea" >Agregar</button>
        <button class="btn btn-danger" v-on:click="limpiarTareas" v-if="tareas.length" >Eliminar Lista</button>
        
        <div class="mt-3" v-for="(item, index) in tareas">
            <div role="alert" :class="['alert', item.estado ? 'alert-success' : 'alert-danger' ]">
                <div class="d-flex justify-content-between aling-item-center">
                    <div>
                        {{index}} - {{item.nombre}} - {{item.estado}}
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm" @click="editarTarea(index)">Modificar</button>
                        <button class="btn btn-danger btn-sm" @click="eliminarTarea(index)" >x</button>
                    </div>
                </div>                
            </div>
        </div>
        
    </div>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    

    <script>

        const app = new Vue({
            el: '#app',
            data:{
                titulo: 'Crud con localStorage',
                tareas:[],
                nuevaTarea:''
            },
            methods:{
                agregarTarea(){                    
                    this.tareas.push({
                        nombre: this.nuevaTarea,
                        estado: false
                    })
                    this.nuevaTarea = ''
                    localStorage.setItem('base', JSON.stringify(this.tareas))
                },
                editarTarea(index){
                    this.tareas[index].estado = !this.tareas[index].estado
                    localStorage.setItem('base', JSON.stringify(this.tareas))
                },
                eliminarTarea(index){
                    this.tareas.splice(index,1)                    
                    localStorage.setItem('base', JSON.stringify(this.tareas))
                },
                limpiarTareas(){
                    this.tareas = []
                    localStorage.removeItem('base')
                },
                totalRegistroEstado(estado){
                    var tareasTrue = 0
                    var tareasFalse = 0

                    this.tareas.forEach(element => element.estado ? tareasTrue++ : tareasFalse++);

                    if(estado){
                        return 'Cantidad de tareas cumplidas ' + tareasTrue
                    }else{
                        return 'Cantidad de tareas pendientes ' + tareasFalse
                    }
                }

            },
            computed:{
                totalLista(){
                    return 'Cantida de registros '+ this.tareas.length 
                }
                
            },
            created(){
                let datosLS = JSON.parse(localStorage.getItem('base'));
                if(datosLS === null){
                    this.tareas = [];
                }else{
                    this.tareas = datosLS
                }
            }
        })
    </script>

</body>

</html>